@import '../generals/general.css';

.App {
  background: var(--primary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App .main-container {
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    background: var(--white);
    border-radius: 4px;
}
.App .content {
  padding: 2em;
}
