header .header-inner {
  padding: 0 16px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding: 15px 30px;
}
header .header-inner .title h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
