.map-board .leaflet-container {
  width: 100%;
  height: 70vh;
}
.popup > * {
  padding: 0.5em 1em;
}
.popup .title {
  padding-right: 2em;
  font-size: 18px;
}
.popup .body {
  display: grid;
  font-size: 16px;
  grid-template-columns: 80px auto;
  line-height: 2;
}
.popup .body .logo {
  grid-row: 1/3;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .body .logo img {
  max-height: 60px;
}
.popup .body .name {
  font-size: 18px;
  font-weight: bold;
}
.popup .body .actions {
  padding-top: 10px;
  display: flex;
  grid-column: 1/3;
  justify-content: flex-end;
}
.leaflet-popup-content {
  margin: 0;
}
