.uploader .box {
  padding: 1em;
  border: 2px dashed var(--primary-color);
  position: relative;
  background: var(--transparent-primary);
  text-align: center;
  line-height: 1.2;
}
.uploader .uploaded-zone .image {
  margin-bottom: 0.5em;
}
.uploader .uploaded-zone .image img {
  max-height: 120px;
}
.uploader .uploaded-zone .close {
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 3px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}
.uploader .drop-zone {
  cursor: pointer;
}
.uploader .drop-zone img {
  width: 50px;
}
