button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: var(--gray);
  color: var(--white);
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
button.primary {
  background: var(--secondary-color);
}
