:root {
  --primary-color: #00405c;
  --secondary-color: #d16202;

  --font-color: #454545;

  --gray: #878787;
  --light-gray: #cccccc;
  --white: #ffffff;

  --transparent-primary: rgba(0, 64, 92, 20%);
}
