input,
select,
textarea {
  outline: 0;
  margin: 0;
}

.form-item {
  padding: 10px 0;
  margin-bottom: 1em;
  display: flex;
  gap: 20px;
}

.form-item .label {
  flex: 0 0 130px;
  line-height: 1.8;
}
.form-item .field {
  flex: 1 1 100%;
}

.form-item input {
  display: block;
  width: 100%;
  padding: 0 0.625em;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  font-size: 1em;
}

.form-item.text-field input {
  height: 2em;
}
.form-actions {
  justify-content: flex-end;
  margin: 0;
}
